@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* =============  CONTAINER 1  ================== */
.headerSection {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.headerSection header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem; 
}

.headerSection header .navbar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSection .navbar .logo a{
  color:  #b74b4b;
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
}

.headerSection .navbar ul { 
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  gap: 35px;
}

.headerSection .navbar ul li{
  list-style: none;
}
.headerSection .navbar ul li a{
  text-decoration: none;
  transition: 0.6s ease;
}

.headerSection .navbar ul li a:hover{
  color:  #b74b4b;
  border-bottom: 1.5px solid #b74b4b ;
}